body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
}
.grid-container2 {
    display: grid;
    grid-template-columns: 100px 400px 1fr
    grid-template-rows: 40px 400px;
    gap: 0.5rem
}